.grey.btn {
    background-color: #95a5a6;
    color: #ffffff;
}
.yellow.btn {
    background-color: #ffb848;
    color: #ffffff;
}
.blue.btn {
    background-color: #4b8df8;
    color: #ffffff;
}
.red.btn {
    background-color: #d84a38;
    color: #ffffff;
}
.green.btn {
    background-color: #35aa47;
    color: #ffffff;
}
.btn {
    font-size: 17px;
    padding: 4px 8px;
}

.entry-area-fraction{
    position: relative;
}

.entry-area-fraction span.first{
    font-size: 10px;
    line-height: 8px;
    position: absolute;
    top: 0;
    border-bottom: black 1px solid;
}
.entry-area-fraction span.sp{
    border-bottom: 1px red solid;
}
.entry-area-fraction span.last{
    /* margin: 0; */
    /* display: inline; */
    font-size: 10px;
    line-height: 0;
    position: absolute;
    bottom: 2px;
}