{#{% extends '::base-login.html.twig' %}#}

{% block title %}{{ 'User Password Reset'|trans }} {% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
