{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Access denied'|trans }}</h1>

    <p>
        {{ 'Access denied at this page considering your role group'|trans }}
    </p>
{% endblock %}
