/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

@font-face {
    font-family: 'Nikosh';
    src: url('fonts/hinted-Nikosh.eot');
    src: url('fonts/hinted-Nikosh.eot?#iefix') format('embedded-opentype'),
    url('fonts/hinted-Nikosh.woff') format('woff'),
    url('fonts/hinted-Nikosh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media print {
    a[href]:after {
        content: normal;
    }
}

body{
    font-family: 'NikoshBAN','Nikosh','Vrinda','Arial';
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'NikoshBAN','Nikosh','Vrinda','Arial';
    font-size: 30px;
}

h4{
    font-size: 22px;
}

.ta-center {
    text-align: center;
}
.ta-left {
    text-align: left;
}
.ta-right {
    text-align: right;
}
.no-link {
    color: #5B9BD1;
    text-decoration: none;
}

.ms-container{
    width: 100% !important;
}

.fontSize22{
    font-size: 22px;
}

.top7PxPadding{
    padding-top: 7px;
}

.entry-area {
    background: url("../img/line.png");
    font-size: 17px;
    line-height: 23px;
    padding-top: 0;
    background-attachment: local;
}

/* Table Pagination Arrow */
.table-data thead .sortable { background: url('../img/sort_both.png') no-repeat center right; }
.table-data thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
.table-data thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }

.dataTables_scrollBody .error{
    color: red;
}

.control-label.required:after{
    content: ' *';
    color: red;
}

table.user-profile th{
    text-align: right;
}
.portlet > .portlet-title > .title-text-center{
    float: none;
    display: block;
    text-align: center;
}

#porcha-request-form .radio-btn-container .radio{
    float: left;
    margin-right: 20px;
}

#porcha-request-form .radio-btn-container .help-block-error{
    clear: both;
}

#porcha-request-form h4.block{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#porcha-request-form .row{
    margin-bottom: 10px;
}
#porcha-request-form .col-sm-2 .col-sm-2{
    width: 100%;
    padding: 0;
}

.help-block-error{
    color: #a94442;
}

#porcha-request-form input[aria-invalid=true]{
    border-color: #a94442 !important;
    box-shadow: none;
}
fieldset.fieldset_setting {
    border:1px solid #eee;
    margin-bottom: 20px;
    padding: 0 10px;
}

.fieldset_setting legend {
    padding: 10px 0.5em;
    border:1px solid #eee;
    width: auto;
    margin-bottom: 0;
    margin-left: 30px;
}
.fieldset_setting .fieldset_body{
    margin-top: 15px;
}

.compact-btn{
    margin: 0 !important;
}

.width90px{
    width: 100px;
}

.div-center{
    float: none;
    margin: auto;
}

.no-border{
    border: none !important;
}

.bg-color-1{
    background-color: #F4FBB7;
    text-align: center;
}
.bg-color-2{
    background-color: #C3D7DE;
    text-align: center;
}
.bg-color-3{
    background-color: #A2D39C;
    text-align: center;
}
.bg-color-4{
    background-color: #9AD3DE;
    text-align: center;
}
.bg-color-5{
    background-color: #F6C3C2;
    text-align: center;
}
.size{
    width: 200px;
}
.portlet > .portlet-title{
    border-bottom: 1px solid #8bc34a;
}

table >thead{
    background-color: #8bc34a;
}
.form-horizontal .control-label{
    font-weight: 800;
    color: #607D8B;
}
.form-group{
    margin-bottom: 5px;
}
.background-image{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    width: 100%;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown{
    width: 180px;
}