<table align="left" border="0" cellpadding="0" cellspacing="0" style="height:43px; width:1220px">
    <tbody>
    <tr>
        <td style="height:35px; text-align:right; vertical-align:middle; width:500px">
			<pre>
<span style="line-height:1"><strong>ইজা খতিয়ান নং </strong></span></pre>
        </td>
        <td style="height:35px; text-align:left; vertical-align:middle; width:150px"><strong>[[khatian_no]]</strong></td>
        <td style="height:35px; text-align:left; vertical-align:middle">&nbsp;</td>
    </tr>
    </tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="height:39px; width:1220px">
    <tbody>
    <tr>
        <td style="height:35px; text-align:left; vertical-align:middle; width:50px">জেলা--</td>
        <td style="height:35px; text-align:left; vertical-align:middle">[[district]]</td>
        <td style="height:35px; text-align:left; vertical-align:middle; width:70px">উপজেলা--</td>
        <td style="height:35px; text-align:left; vertical-align:middle">[[upozila]]</td>
        <td style="height:35px; text-align:left; vertical-align:middle; width:50px">মৌজা--</td>
        <td style="height:35px; text-align:left; vertical-align:middle">[[mouza]]</td>
        <td style="height:35px; text-align:left; vertical-align:middle; width:90px">জে, এল নং--</td>
        <td style="height:35px; text-align:left; vertical-align:middle">[[jl_no]]</td>
        <td style="height:35px; text-align:left; vertical-align:middle; width:80px">রেঃ সাঃ নং--</td>
        <td style="height:35px; text-align:left; vertical-align:middle">[[rs_no]]</td>
    </tr>
    </tbody>
</table>

<table border="1" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td style="height:45px; text-align:center; vertical-align:top; width:260px">
			<pre>
<span style="line-height:1">মালিক, অকৃষি প্রজা বা ইজারাদারের
নাম ও ঠিকানা</span></pre>
        </td>
        <td style="height:45px; text-align:center; vertical-align:top; width:65px">
			<pre>
<span style="line-height:1">অংশ</span></pre>
        </td>
        <td style="height:45px; text-align:center; vertical-align:top; width:62px">
			<pre>
<span style="line-height:1">রাজস্ব</span></pre>
        </td>
        <td style="height:45px; text-align:center; vertical-align:top; width:75px">
			<pre>
<span style="line-height:1">দাগ নং</span></pre>
        </td>
        <td colspan="2" rowspan="1" style="height:45px; text-align:center; vertical-align:top; width:160px">
			<pre>
<span style="line-height:1">জমির শ্রেণী</span></pre>
        </td>
        <td colspan="2" rowspan="1" style="height:45px; text-align:center; vertical-align:top; width:145px">
			<pre>
<span style="line-height:1">দাগের মোট</span>
<span style="line-height:1">পরিমাণ</span></pre>
        </td>
        <td style="height:45px; text-align:center; vertical-align:top; width:85px">
			<pre>
<span style="line-height:1">দাগের মধ্যে অত্র
খতিয়ানের অংশ</span></pre>
        </td>
        <td colspan="2" rowspan="1" style="height:45px; text-align:center; vertical-align:top; width:145px">
			<pre>
<span style="line-height:1">অংশানুযায়ী জমির
পরিমাণ</span></pre>
        </td>
        <td style="height:45px; text-align:center; vertical-align:top; width:250px">
			<pre>
<span style="line-height:1">দখল বিষয়ক বা অন্যান্য
বিশেষ মন্তব্য</span></pre>
        </td>
    </tr>
    <tr>
        <td style="height:35px; text-align:center; vertical-align:top">
			<pre>
<span style="line-height:1">১</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top">
			<pre>
<span style="line-height:1">২</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top">
			<pre>
<span style="line-height:1">৩</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top">
			<pre>
<span style="line-height:1">৪</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top; width:80px">
			<pre>
<span style="line-height:1">কৃষি
৫(ক)</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top; width:80px">
			<pre>
<span style="line-height:1">অকৃষি
৫(খ)</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top; width:70px">
			<pre>
<span style="line-height:1">কৃষি
৬(ক)</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top; width:75px">
			<pre>
<span style="line-height:1">অকৃষি
৬(খ)</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top">
			<pre>
<span style="line-height:1">৭</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top; width:70px">
			<pre>
<span style="line-height:1">কৃষি
৮(ক)</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top; width:75px">
			<pre>
<span style="line-height:1">অকৃষি
৮(খ)</span></pre>
        </td>
        <td style="height:35px; text-align:center; vertical-align:top">
			<pre>
<span style="line-height:1">৯</span></pre>
        </td>
    </tr>
    <tr>
        <td style="height:450px; text-align:left; vertical-align:top">[[ejaradarer_num_thikana]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[ejaradarer_num_thikana_ongsho]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[rajoso]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[dag_nong]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[jomir_rokom_krishi]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[jomir_rokom_okrishi]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[dager_mot_poriman_akor]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[dager_mot_poriman_shotangsho]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[dager_modda_otro_khatian_ongsho]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[ongsha_onojaye_jomir_poriman_akor]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[ongsha_onojaye_jomir_poriman_shotangsho]]</td>
        <td style="height:450px; text-align:left; vertical-align:top">[[onnanno_mantobbo]]</td>
    </tr>
    <tr>
        <td style="height:30px; text-align:center; vertical-align:top">
			<pre>
ধারা মতে নোট বা পরিবর্ত্তন
(মায়  মোকাদ্দমা নং এবং সন )</pre>
        </td>
        <td style="height:30px">[[ejaradarer_num_thikana_ongsho_mot]]</td>
        <td colspan="7" rowspan="1" style="height:30px; text-align:right; vertical-align:middle">মোট জমি:&nbsp;</td>
        <td style="height:30px">[[mot_jomi_akor]]</td>
        <td style="height:30px">[[mot_jomi_shotangsho]]</td>
        <td style="height:30px">&nbsp;</td>
    </tr>
    </tbody>
</table>