<table border="1" cellpadding="0" cellspacing="0" style="width:670px">
    <tbody>
    <tr>
        <td style="height:30px; text-align:center; vertical-align:middle; width:80px">
			<pre>
<span style="line-height:1">খতিয়ান নং</span></pre>
        </td>
        <td style="height:30px; text-align:center; vertical-align:middle; width:90px">[[khatian_no]]</td>
        <td style="height:30px; text-align:center; vertical-align:middle; width:500px">
			<pre>
<span style="line-height:1">অত্র স্বত্বের নিজ দখলীয় জমি</span></pre>
        </td>
    </tr>
    </tbody>
</table>

<table border="1" cellpadding="0" cellspacing="0" style="width:670px">
    <tbody>
    <tr>
        <td colspan="1" rowspan="2" style="height:30px; text-align:center; vertical-align:middle; width:80px">
			<pre>
<span style="line-height:2">দাগ
নম্বর</span></pre>
        </td>
        <td colspan="1" rowspan="2" style="text-align:center; vertical-align:middle; width:90px">
			<pre>
<span style="line-height:2">জমির
রকম</span></pre>
        </td>
        <td colspan="1" rowspan="2" style="text-align:center; vertical-align:middle; width:245px">
			<pre>
<span style="line-height:1">মন্তব্য</span></pre>
        </td>
        <td colspan="2" rowspan="1" style="text-align:center; vertical-align:middle">
			<pre>
<span style="line-height:1">দাগের মোট
পরিমাণ</span></pre>
        </td>
        <td colspan="1" rowspan="2" style="text-align:center; vertical-align:middle; width:70px">
			<pre>
<span style="line-height:1">দাগের মধ্যে
অত্র স্বত্বের
অংশ</span></pre>
        </td>
        <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">
			<pre>
<span style="line-height:1">দাগের মধ্যে
অত্র স্বত্বের অংশের
জমির পরিমাণ</span></pre>
        </td>
    </tr>
    <tr>
        <td style="height:25px; text-align:center; vertical-align:middle; width:50px">
			<pre>
<span style="line-height:1">একর</span></pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:50px">
			<pre>
<span style="line-height:1">শতাংশ</span></pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:50px">
			<pre>
<span style="line-height:1">একর</span></pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:50px">
			<pre>
<span style="line-height:1">শতাংশ</span></pre>
        </td>
    </tr>
    <tr>
        <td style="height:610px; text-align:left; vertical-align:top">[[dag_nong]]</td>
        <td style="height:610px; text-align:center; vertical-align:top">[[jomir_rokom]]</td>
        <td style="height:610px; text-align:center; vertical-align:top">[[nij_dakholiyo_jomir_mantobbo]]</td>
        <td style="height:610px; text-align:center; vertical-align:top">[[dager_mot_poriman_akor]]</td>
        <td style="height:610px; text-align:center; vertical-align:top">[[dager_mot_poriman_shotangsho]]</td>
        <td style="height:610px; text-align:center; vertical-align:top">[[dager_modda_otro_khatian_ongsho]]</td>
        <td style="height:610px; text-align:center; vertical-align:top">[[ongsha_onojaye_jomir_poriman_akor]]</td>
        <td style="height:610px; text-align:center; vertical-align:top">[[ongsha_onojaye_jomir_poriman_shotangsho]]</td>
    </tr>
    <tr>
        <td colspan="6" rowspan="1" style="height:40px; text-align:right; vertical-align:middle">নিজ দখলীয় জমির মোট পরিমাণ&nbsp;&nbsp;</td>
        <td style="height:40px">[[nij_dakholiyo_jomir_mot_poriman_akor]]</td>
        <td style="height:40px">[[nij_dakholiyo_jomir_mot_poriman_shotangsho]]</td>
    </tr>
    </tbody>
</table>

<table border="1" cellpadding="0" cellspacing="0" style="width:670px">
    <tbody>
    <tr>
        <td style="height:80px; text-align:center; vertical-align:middle; width:180px">
			<pre>
<span style="line-height:1">অধীনস্থ স্বত্বের খাজানা
প্রাপকের খতিয়ান
নম্বর [মায় বাটা]</span></pre>
        </td>
        <td colspan="3" rowspan="1" style="text-align:center; vertical-align:middle">অধীনস্থ স্বত্বের বিভিন্ন খতিয়ানের নম্বর</td>
    </tr>
    <tr>
        <td style="height:140px">[[odhinostho_sotter_khajana_prapoker_khatian_number]]</td>
        <td colspan="3" rowspan="1" style="height:140px">[[odhinostho_sotter_bibhinno_khatianer_number]]</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="1" style="text-align:right; vertical-align:middle; width:570px">অধীনস্থ স্বত্বের মোট পরিমাণ&nbsp;&nbsp;</td>
        <td style="height:35px; text-align:center; vertical-align:middle; width:60px">[[odhinostho_sotter_mot_poriman_akor]]</td>
        <td style="height:30px; text-align:center; vertical-align:middle; width:60px">[[odhinostho_sotter_mot_poriman_shotangsho]]</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="1" style="height:30px; text-align:right; vertical-align:middle">সর্ব মোট&nbsp;</td>
        <td style="height:30px; text-align:center; vertical-align:middle">[[sorbo_mot_akor]]</td>
        <td style="height:30px; text-align:center; vertical-align:middle">[[sorbo_mot_shotok]]</td>
    </tr>
    </tbody>
</table>
