<table border="0" cellpadding="0" cellspacing="0" style="width:670px">
    <tbody>
    <tr>
        <td style="height:35px; width:40px">
			<pre>
<span style="line-height:1">জেলা</span></pre>
        </td>
        <td>[[district]]</td>
        <td style="width:50px">
			<pre>
<span style="line-height:1">মৌজা</span></pre>
        </td>
        <td>[[mouza]]</td>
        <td style="width:70px">
			<pre>
<span style="line-height:1">জে, এল নং</span></pre>
        </td>
        <td>[[jl_no]]</td>
        <td style="width:70px">
			<pre>
<span style="line-height:1">খতিয়ান নং</span></pre>
        </td>
        <td><span style="line-height:1">[[khatian_no]]</span></td>
    </tr>
    <tr>
        <td style="height:35px">
			<pre>
<span style="line-height:1">থানা</span></pre>
        </td>
        <td>[[thana]]</td>
        <td>
			<pre>
<span style="line-height:1">পরগণা</span></pre>
        </td>
        <td>[[pargana]]</td>
        <td>
			<pre>
<span style="line-height:1">রে: সা: নং</span></pre>
        </td>
        <td>[[rs_no]]</td>
        <td>
			<pre>
<span style="line-height:1">তৌজি নং</span></pre>
        </td>
        <td>[[taugi_no]]</td>
    </tr>
    </tbody>
</table>

<table border="1" cellpadding="0" cellspacing="0" style="width:670px">
    <tbody>
    <tr>
        <td colspan="3" rowspan="1" style="height:30px; text-align:center; vertical-align:middle">
			<pre>
<span style="line-height:1">উপরিস্থ স্বত্বের</span></pre>
        </td>
        <td colspan="3" rowspan="1" style="text-align:center; vertical-align:middle">
			<pre>
<span style="line-height:1">অত্র স্বত্বের দেয়</span></pre>
        </td>
        <td colspan="1" rowspan="2" style="text-align:center; vertical-align:middle; width:150px">
			<pre>
<span style="line-height:1">মন্তব্য</span></pre>
        </td>
        <td colspan="2" rowspan="1" style="text-align:center; vertical-align:middle">
			<pre>
<span style="line-height:1">ধারামতে ও
কোন তারিখ হইতে</span></pre>
        </td>
    </tr>
    <tr>
        <td style="height:40px; text-align:center; vertical-align:middle; width:50px">
			<pre>
<span style="line-height:1">খতিয়ান
নং
মায় বাটা</span></pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:210px">
			<pre>
<span style="line-height:1">বিবরণ ও দখলকার (সংক্ষিপ্ত)</span></pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:70px">
			<pre>
পরস্পর
অংশ</pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:70px">
			<pre>
&nbsp;খাজানা</pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:50px">
			<pre>
সেস্</pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:50px">
			<pre>
শিক্ষা
সেস্</pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:70px">
			<pre>
খাজানা</pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:50px">
			<pre>
সেস্</pre>
        </td>
    </tr>
    <tr>
        <td style="height:350px; vertical-align:top">[[khatian_nong_mey_bata]]</td>
        <td style="height:350px; vertical-align:top">[[uparistho_sotter_biboron_dakholkar_sangkhipto]]</td>
        <td style="height:350px; vertical-align:top">[[uparistho_sotter_porospor_ongsho]]</td>
        <td style="height:350px; vertical-align:top">[[otro_sotter_deyo_khajana]]</td>
        <td style="height:350px; vertical-align:top">[[otro_sotter_deyo_ses]]</td>
        <td style="height:350px; vertical-align:top">[[otro_sotter_deyo_shikkha_ses]]</td>
        <td style="height:350px; vertical-align:top">[[otro_sotter_deyo_mantobbo]]</td>
        <td style="height:350px; vertical-align:top">[[kon_son_hoite_khajana]]</td>
        <td style="height:350px; vertical-align:top">[[kon_son_hoite_ses]]</td>
    </tr>
    </tbody>
</table>

<table border="1" cellpadding="0" cellspacing="0" style="width:670px">
    <tbody>
    <tr>
        <td style="height:40px; text-align:center; vertical-align:middle; width:260px">
			<pre>
<span style="line-height:1">অত্র স্বত্বের বিবরণ ও দখলকার</span></pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:60px">
			<pre>
<span style="line-height:1">অংশ</span></pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:260px">
			<pre>
<span style="line-height:1">অত্র স্বত্বের বিবরণ ও দখলকার</span></pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:60px">
			<pre>
অংশ</pre>
        </td>
        <td style="text-align:center; vertical-align:middle; width:140px">
			<pre>
অত্র স্বত্বের শ্রেণী (এবং
বিশেষ নিয়ম ও অনুসঙ্গ)</pre>
        </td>
    </tr>
    <tr>
        <td style="height:360px; text-align:left; vertical-align:top">[[otro_sotter_biboron_o_dokholkar]]</td>
        <td style="height:360px; text-align:left; vertical-align:top">[[otro_sotter_biboron_o_dokholkar_ongsho]]</td>
        <td style="height:360px; text-align:left; vertical-align:top">[[otro_sotter_biboron_o_dokholkar_2]]</td>
        <td style="height:360px; text-align:left; vertical-align:top">[[otro_sotter_biboron_o_dokholkar_ongsho_2]]</td>
        <td style="height:360px; text-align:left; vertical-align:top">[[otro_sotter_shreni_niyom_onusongo]]</td>
    </tr>
    </tbody>
</table>

<table border="1" cellpadding="0" cellspacing="0" style="width:670px">
    <tbody>
    <tr>
        <td style="height:130px; text-align:center; vertical-align:middle; width:210px">৪৯, ৫০, ৫১, ৫২ বা ৫৩ ধারা মতে নোট পরিবর্ত্তন (মায় মোকাদ্দমা নম্বর এবং সন)</td>
        <td style="height:130px; text-align:left; vertical-align:top; width:460px">&nbsp;</td>
    </tr>
    </tbody>
</table>