<td>{{ form_widget(form.khatianDagNo, {'attr': {'class': 'form-control'}}) }}</td>
<td>{{ form_widget(form.totalAmount, {'attr': {'class': 'form-control totalAmount'}}) }}</td>
<td>{{ form_widget(form.proposedAmount, {'attr': {'class': ' proposedAmount'}}) }}</td>
<td>
    <a class="btn red btn-sm remove-row" href="javascript:;">
        <i class="fa fa-times"></i>
    </a>
</td>

