<td>{{ form_widget(form.khatianDagNo, {'attr': {'class': 'form-control input-large'}}) }}</td>

<td>
    <a class="btn red btn-sm remove-row" href="javascript:;">
        <i class="fa fa-times"></i>
    </a>
</td>

