<td>{{ form_widget(form.mouza, {'attr': {'class': 'form-control input-large'}}) }}</td>
<td>{{ form_widget(form.startKhatianNo, {'attr': {'class': 'form-control input-small'}}) }}</td>
<td>{{ form_widget(form.endKhatianNo, {'attr': {'class': 'form-control input-small'}}) }}</td>
<td>
    <a class="btn red btn-sm remove-row" href="javascript:;">
        <i class="fa fa-times"></i>
    </a>
</td>

