<table border="0" cellpadding="0" cellspacing="0" style="height:20px; width:768px">
    <tbody>
    <tr>
        <td style="height:20px; vertical-align:middle; width:33%"><small>[[form_no]]</small></td>
        <td style="height:20px; text-align:center; vertical-align:middle; width:33%">
            <h1><span style="line-height:1">{{ survey_name }} {{ 'Khatian'|trans }}</span></h1>
        </td>
        <td style="height:20px; text-align:right; vertical-align:middle; width:33%"></td>
    </tr>
    </tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:768px">
    <tbody>
    <tr>
        <td style="height:35px; text-align:right; vertical-align:middle; width:40px">
			<pre>
<span style="line-height:1">জিলা </span></pre>
        </td>
        <td style="vertical-align:middle">[[district]]</td>
        <td style="text-align:right; vertical-align:middle; width:50px">
			<pre>
<span style="line-height:1">মৌজা </span></pre>
        </td>
        <td style="vertical-align:middle">[[mouza]]</td>
        <td style="text-align:right; vertical-align:middle; width:70px">
			<pre>
<span style="line-height:1">জে: এল: নং </span></pre>
        </td>
        <td style="vertical-align:middle">[[jl_no]]</td>
        <td style="text-align:right; vertical-align:middle; width:70px">
			<pre>
<span style="line-height:1">খতিয়ান নং </span></pre>
        </td>
        <td style="vertical-align:middle"><span style="line-height:1">[[khatian_no]]</span></td>
    </tr>
    </tbody>
</table>