Assalamualaikum {{ username }},<br />

<p>Welcome to ELRS. You have been registered to our system as an <b>{{ role }}</b>.</p>

<p>
    Your username is <b>{{ username }}</b>.<br />
    Please set your password at: {{ resetUrl }}
</p>


Thanks<br />
---<br />
<address>
Electronic Land Record System
</address>