Assalamualaikum {{ name }},<br />

<p>Welcome to Electronic Land Record System.</p>

<p>
    This is just a test email. You <b>do not need</b> to take any action or send a reply for this.
</p>


Thanks<br />
---<br />
<address>
Electronic Land Record System
</address>